<div class="card mt-2">
  <h5 class="card-header">Daniel Megginson's Coding Exercise</h5>
  <div class="card-body">

    <div class="row mt-2">
      <div class="col">
        <span class="btn btn-dark">
          <a (click)="upload()">Upload CSV File</a>
        </span>
      </div>

      <div class="col">
        <span class="btn btn-dark">
          <a (click)="download()">Download CSV File</a>
        </span>
      </div>

      <div class="col">
        <span class="btn btn-dark">
          <a (click)="contents()">View Contents</a>
        </span>
      </div>

      <div class="col">
        <span class="btn btn-dark">
          <a (click)="statistics()">View Statistics</a>
        </span>
      </div>
    </div>

  </div>
</div>
